.login-bg-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  background-color: #152850;
  padding: 20px;
}
.login-container {
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 80%;
}
.login-logo {
  color: #152850;
}
.login-image-container {
  height: 100%;
  width: 50%;
  background-color: #e0eefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-image {
  height: 70%;

  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  padding: 20px;
}
.form-heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: #152850;
}
.label-input-container {
  margin-top: 15px;
  width: 100%;
}
.label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 800;
  color: #183b56;
}
.input {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #c3cad9;
  border: 1px solid #5a7184;
  margin-top: 5px;
  width: 80%;
  color: #183b56;
}
.login-button {
  padding: 10px;
  border-radius: 5px;
  background-color: #1565d8;
  color: #ffffff;
  border: none;
  width: 80%;
  margin-top: 15px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 800;
}
.error {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #ff0b37;
  text-align: center;
  width: 80%;
}
@media screen and (max-width: 576px) {
  .login-bg-container {
    padding: 10px;
  }
  .login-container {
    display: flex;
    flex-direction: column;
  }
  .login-image-container {
    width: 100%;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
